#ukagaka_panel, .ukagaka_box {
    background: none repeat scroll 0% 0% #333534;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.9);
    border: 1px solid #696969;
    border-radius: 3px;
}
#ukagaka_controlpanel {
  position: relative;
  float: right;
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-weight: bold;
  padding: 0px;
  z-index: 9999;
}
#ukagaka_controlpanel img {
  color: #2ca6cb;
  width: 30px;
  height: 30px;
  display: inline-block;
}
#ukagaka_controlpanel img:hover {
  opacity: 0.4;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  transition: color 0.5s;
}
#ukagaka_controlpanel span {
  float: right;
  width: 10px;
  padding: 0px 6px;
}
#ukagaka_controlpanel span:hover:before {
  color: #2ca6cb;
}
#ukagaka_controlpanel span[title="menu"]::before,
#ukagaka_controlpanel span[title="gotop"]::before {
  font-family: "FontAwesome";
  -webkit-font-smoothing: ;
}
#ukagaka_controlpanel span[title="menu"]::before {
  content: "\f03a";
}
#ukagaka_controlpanel span[title="gotop"]::before {
  content: "\f062";
}
#ukagaka_controlpanel span:hover:before {
  color: #2ca6cb;
}
#ukagaka_controlpanel span[title="godown"]::before,
#ukagaka_controlpanel span[title="music"]::before,
#ukagaka_controlpanel span[title="mail"]::before,
#ukagaka_controlpanel span[title="power"]::before,
#ukagaka_controlpanel span[title="learn"]::before {
  font-family: "FontAwesome";
  -webkit-font-smoothing: ;
}
#ukagaka_controlpanel span[title="godown"]::before {
  content: "\f063";
}
#ukagaka_controlpanel span[title="music"]::before {
  content: "\f001";
}
#ukagaka_controlpanel span[title="mail"]::before {
  content: "\f003";
}
#ukagaka_controlpanel span[title="power"]::before {
  content: "\f011";
}
#ukagaka_controlpanel span[title="learn"]::before {
  content: "\f044";
}
#ukagaka_panel {
  width: 260px;
  position: fixed;
  right: 30px;
  bottom: 0;
  z-index: 9999;
  font-family: "Open Sans Light", "Georgia", "Microsoft YaHei", "Times New Roman", serif;
}
#ukagaka_panel span {
  cursor: pointer;
}
#ukagaka_panel input[type="checkbox"] {
  display: block;
  margin: 0 0;
  padding: 0 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 26px;
  z-index: 4;
  cursor: pointer;
  opacity: 0;
}
#ukagaka_panel label {
  display: block;
  height: 30px;
  line-height: 30px;
  background-color: #502829;
  color: #f0f0f0;
  font-weight: bold;
  padding: 0 1em 1px;
}
#ukagaka_panel label:before {
  content: attr(data-collapsed);
}
#ukagaka_panel input[type="checkbox"]:checked + label:before {
  content: attr(data-expanded);
}
#ukagaka_panel .chat-box-content {
  display: none;
}
#ukagaka_panel input[type="checkbox"]:checked ~ .chat-box-content {
  display: block;
}
#ukagaka_panel input[type="checkbox"]:hover + label {
  background-color: #4183c4;
}
.ukagaka_box,
.ukagaka_toc {
  position: absolute;
  bottom: 100px;
  right: 100px;
  font-size: 100%;
  background: #1f1f1f;
  color: #f0f0f0;
  width: 50%;
}
.ukagaka_msg {
  padding: 0.5em;
  color: #f0f0f0;
  font-family: 'Comic Sans MS', "Open Sans Light", "Georgia", "Microsoft YaHei", "Times New Roman", serif;
}
.ukagaka_msg::before {
  -webkit-font-smoothing: ;
  padding-right: 0.5em;
}
.ukagaka_msg span#ukagaka_menu_btn_addstring,
.ukagaka_msg span#ukagaka_menu_btn_renewlist,
.ukagaka_msg span#ukagaka_menu_btn_exit,
.ukagaka_msg span#ukagaka_btn_menu,
.ukagaka_msg span#ukagaka_addmenu_add {
  margin: 0.1em;
  display: inline;
}
.ukagaka_msg span#ukagaka_menu_btn_addstring:hover,
.ukagaka_msg span#ukagaka_menu_btn_renewlist:hover,
.ukagaka_msg span#ukagaka_menu_btn_exit:hover,
.ukagaka_msg span#ukagaka_btn_menu:hover,
.ukagaka_msg span#ukagaka_addmenu_add:hover {
  color: #2ca6cb;
}
.ukagaka_msg span#ukagaka_menu_btn_addstring::before,
.ukagaka_msg span#ukagaka_menu_btn_renewlist::before,
.ukagaka_msg span#ukagaka_menu_btn_exit::before,
.ukagaka_msg span#ukagaka_btn_menu::before,
.ukagaka_msg span#ukagaka_addmenu_add::before {
  -webkit-font-smoothing: ;
  padding-right: 0.5em;
}
.ukagaka_msg a {
  color: #4183c4;
  text-decoration: none;
}
.ukagaka_msg a:hover {
  text-decoration: underline;
}
.ukagaka_img {
  width: 70%;
  position: relative;
  right: 0px;
  bottom: 0px;
  float: right;
}
#ukagaka_stringinput >input {
  width: 95%;
}
.ukagaka_box {
  position: initial;
  width: 80%;
  margin: 5px 10px;
}
.spinner {
  margin: 5px auto 0;
  width: 70px;
  text-align: center;
}
.spinner > div {
  width: 10px;
  height: 10px;
  margin: 5px;
  background-color: #333;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  -moz-animation: bouncedelay 1.4s infinite ease-in-out;
  -ms-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  -webkit-animation-delay: -0.32s;
  -moz-animation-delay: -0.32s;
  -ms-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  -webkit-animation-delay: -0.16s;
  -moz-animation-delay: -0.16s;
  -ms-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@-o-keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}