body {
    background: url(img/background.jpg) no-repeat;
}

#ukagaka_controlpanel
{
    bottom: 0;
    font-size: 1.1em;
    position: fixed;
    right: 40px;
}
#ukagaka_controlpanel img
{
    color: #2ca6cb;
    display: inline-block;
    font-family: "covered_by_your_graceregular";
    height: 24px;
    padding: 5px;
    width: 24px;
}
#ukagaka_controlpanel img:hover
{
    filter: alpha(opacity=40);
    moz-transition: color 0.5s;
    ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    ms-transition: color 0.5s;
    opacity: .4;
    o-transition: color 0.5s;
    transition: color 0.5s;
    webkit-transition: color 0.5s;
}
#ukagaka_controlpanel span
{
    color: #fff;
    float: left;
    font-size: 110%;
    padding: .3em;
    width: 5%;
}
@media only screen and (min-width: 1024px)
{
    #ukagaka_controlpanel span
    {
        padding: .3em;
    }
}
#ukagaka_controlpanel span:hover:before
{
    color: #2ca6cb;
}
#ukagaka_controlpanel span[title="menu"]::before
{
    font-family: "FontAwesome";
    moz-osx-font-smoothing: grayscale;
    webkit-font-smoothing: antialiased;
}
#ukagaka_controlpanel span[title="menu"]::before
{
    content: "\f03a";
}
#ukagaka_menu_list span
{
    color: #fff;
    font-size: 110%;
    margin: .2em;
    padding: .3em;
    width: 5%;
}
@media only screen and (min-width: 1024px)
{
    #ukagaka_menu_list span
    {
        padding: .3em;
    }
}
#ukagaka_menu_list span:hover:before
{
    color: #2ca6cb;
}
#ukagaka_menu_list span[title="gotop"]::before,#ukagaka_menu_list span[title="godown"]::before,#ukagaka_menu_list span[title="music"]::before,#ukagaka_menu_list span[title="mail"]::before,#ukagaka_menu_list span[title="power"]::before,#ukagaka_menu_list span[title="learn"]::before
{
    font-family: "FontAwesome";
    moz-osx-font-smoothing: grayscale;
    webkit-font-smoothing: antialiased;
}
#ukagaka_menu_list span[title="gotop"]::before
{
    content: "\f062";
}
#ukagaka_menu_list span[title="godown"]::before
{
    content: "\f063";
}
#ukagaka_menu_list span[title="music"]::before
{
    content: "\f001";
}
#ukagaka_menu_list span[title="mail"]::before
{
    content: "\f003";
}
#ukagaka_menu_list span[title="power"]::before
{
    content: "\f011";
}
#ukagaka_menu_list span[title="learn"]::before
{
    content: "\f044";
}
#ukagaka_panel
{
    bottom: 30px;
    position: fixed;
    right: 0;
    width: 40%;
}
#ukagaka_panel span
{
    padding: 5px;
}
#ukagaka_panel cursor pointer
{
    height: 0;
}
.ukagaka_box,.ukagaka_toc
{
    background: #272822;
    border-radius: 10px;
    border-style: solid dashed dashed;
    border-width: 5px;
    bottom: 230px;
    color: #808080;
    font-size: 100%;
    position: absolute;
    right: 120px;
    webkit-border-radius: 10px;
    width: 30%;
}
.ukagaka_msg
{
    border-radius: 10px;
    color: #fff;
    font-family: "covered_by_your_graceregular","Helvetica Neue","Helvetica","Microsoft YaHei","WenQuanYi Micro Hei",Arial,sans-serif;
    padding: .5em 2% 1em;
    webkit-border-radius: 10px;
    width: 80%;
}
.ukagaka_msg::before
{
    moz-osx-font-smoothing: grayscale;
    padding-right: .5em;
    webkit-font-smoothing: antialiased;
}
.ukagaka_msg span#ukagaka_menu_btn_addstring,.ukagaka_msg span#ukagaka_menu_btn_renewlist,.ukagaka_msg span#ukagaka_menu_btn_exit
{
    border-radius: 5px;
    border-style: solid solid solid;
    border-width: 1px;
    color: #2ca6cb;
    display: inline;
    webkit-border-radius: 5px;
}
.ukagaka_msg span#ukagaka_menu_btn_addstring:hover,.ukagaka_msg span#ukagaka_menu_btn_renewlist:hover,.ukagaka_msg span#ukagaka_menu_btn_exit:hover
{
    color: #a6e22e;
}
.ukagaka_msg span#ukagaka_menu_btn_addstring::before,.ukagaka_msg span#ukagaka_menu_btn_renewlist::before,.ukagaka_msg span#ukagaka_menu_btn_exit::before
{
    moz-osx-font-smoothing: grayscale;
    padding-right: .5em;
    webkit-font-smoothing: antialiased;
}
.ukagaka_msg span#ukagaka_btn_menu,.ukagaka_msg span#ukagaka_addmenu_add
{
    border-radius: 5px;
    border-style: solid solid solid;
    border-width: 1px;
    color: #2ca6cb;
    display: inline;
    webkit-border-radius: 5px;
}
.ukagaka_msg span#ukagaka_btn_menu:hover,.ukagaka_msg span#ukagaka_addmenu_add:hover
{
    color: #a6e22e;
}
.ukagaka_msg span#ukagaka_btn_menu::before,.ukagaka_msg span#ukagaka_addmenu_add::before
{
    moz-osx-font-smoothing: grayscale;
    padding-right: .5em;
    webkit-font-smoothing: antialiased;
}
.ukagaka_img
{
    bottom: 0;
    position: absolute;
    right: 0;
    width: 40%;
}
@media only screen and (min-width: 768px)
{
    .ukagaka_img
    {
        width: 80%;
    }
}
@media only screen and (min-width: 1024px)
{
    .ukagaka_img
    {
        width: 40%;
    }
}
.ukagaka_img2
{
    width: 10%;
}
@media only screen and (min-width: 768px)
{
    .ukagaka_img2
    {
        width: 30%;
    }
}
@media only screen and (min-width: 1024px)
{
    .ukagaka_img2
    {
        width: 15%;
    }
}
#ukagaka_stringinput >input
{
    width: 95%;
}
input::-moz-placeholder
{
    color: #008000;
}
input::-webkit-input-placeholder
{
    color: #008000;
}